<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.diasec.diasec_backend.dao.ReviewMapper">
    <!-- 리뷰 작성 부분 목록 가져오기 -->
    <select id="getEligibleReviews" resultType="com.diasec.diasec_backend.vo.ReviewVo">
        SELECT oi.item_id, oi.pid, oi.title, oi.size, oi.thumbnail
        FROM order_items oi
        JOIN orders o ON oi.oid = o.oid
        LEFT JOIN reviews r ON r.item_id = oi.item_id
        WHERE o.id = #{id}
            AND oi.order_status = '배송완료'
            AND r.rid IS NULL
    </select>

    <!-- 리뷰 작성 -->
    <insert id="insertReview" useGeneratedKeys="true" keyProperty="rid">
        INSERT INTO reviews (pid, id, item_id, rating, title, content)
        VALUES (#{pid}, #{id}, #{item_id}, #{rating}, #{title}, #{content})
    </insert>
    <insert id="insertReviewImage" parameterType="map">
        INSERT INTO review_images (rid, image_url)
        VALUES (#{rid}, #{url})
    </insert>

    <!-- 리뷰 불러오기 -->
    <resultMap id="ReviewWithImagesResultMap" type="com.diasec.diasec_backend.vo.ReviewVo">
        <id property="rid" column="rid" />
        <result property="pid" column="pid" />
        <result property="id" column="id" />
        <result property="rating" column="rating" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
        <collection property="images" ofType="string">
            <result column="image_url"/>
        </collection>
    </resultMap>

    <select id="getReviewsByPid" resultMap="ReviewWithImagesResultMap">
        SELECT r.rid, r.pid, r.id, r.rating, r.title, r.content, r.created_at, ri.image_url
        FROM reviews r
        LEFT JOIN review_images ri ON r.rid = ri.rid
        WHERE r.pid = #{pid}
        ORDER BY r.created_at DESC
    </select>

    <!-- 전체 리뷰 가져오기 -->
    <select id="getAllReviews" resultMap="ReviewWithImagesResultMap">
        SELECT r.rid, r.pid, r.id, r.rating, r.title, r.content, r.created_at, ri.image_url
        FROM reviews r
        INNER JOIN review_images ri ON r.rid = ri.rid
        ORDER BY r.created_at DESC
    </select>

    <!-- 리뷰 한 페이지씩 불러오기 -->
    <select id="getRecentReviews" resultMap="ReviewWithImagesResultMap">
        SELECT r.rid, r.pid, r.id, r.rating, r.title, r.content, r.created_at, ri.image_url
        FROM reviews r
        LEFT JOIN review_images ri ON r.rid = ri.rid
        ORDER BY r.created_at DESC
        LIMIT #{limit}
    </select>

    <!-- rid로 이미지 url들 가져오기 -->
    <select id="getImageUrlsByRid" resultType="string">
        SELECT image_url FROM review_images WHERE rid = #{rid}
    </select>

    <!-- 이미지 레코드 삭제 -->
    <delete id="deleteReviewImages">
        DELETE FROM review_images WHERE rid = #{rid}
    </delete>

    <!-- 리뷰 레코드 삭제 -->
    <delete id="deleteReview">
        DELETE FROM reviews WHERE rid = #{rid}
    </delete>

  </mapper>